@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

p {
  line-height: 1.5;
}

.containercv {
  background-color: #fff;
  margin: 20px 10px;
}

.header {
  padding: 0px 15px 0 15px;
}

.container2-bodycv {
  display: flex;
}

.container-izquierdo {
  display: flex;
  flex-direction: column;
}

.container-derecho {
  display: flex;
  flex-direction: column;
}

.section {
  padding: 0 15px 15px 15px;
}

.tipwork {
  background-color: #353535;
  width: 20px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}

/* CONTACT */
.infoContacto {
  display: flex;
  flex-wrap: wrap;
  background-color: #212f3d;
  padding: 10px;
  font-size: 16px;
  list-style: none;
  justify-content: space-around;
  border-radius: 5px;
}

.infoContacto li a {
  color: white;
}

/* WORK*/
.infoTrabajos {
  display: flex;
  flex-direction: column;
}

.descwork {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.trabajo-texto {
  margin: 5px 0;
}

/* EDUCATION*/

/* SKILLS*/

.infoHabilidades {
  display: flex;
  flex-direction: column;
}

.infoHabilidades li {
  display: inline-block;
  list-style: none;
  background-color: #212f3d;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}

.infoHabilidades ul {
  padding: 0;
}

/* IDIOMAS */

div .idioma {
  margin-bottom: 10px;
}

/* INTERESTING*/

.infoIntereses ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.infoIntereses li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
}

.infoIntereses i {
  margin-right: 20px;
  font-size: 20px;
  opacity: 0.5;
}

/*FOOTER*/
footer {
  background-color: #353535;
  padding: 80px 0;
}

.footerContainer {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  width: 180px;
}

.socialMedia a {
  color: #fff;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
}

.socialMedia a:hover {
  color: #fc5c65;
}

.Footer2-Right h1 {
  font-size: 26px;
  color: #fff;
}

.border {
  width: 100px;
  height: 4px;
  background: #fe4918;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtEmail {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #353535;
  background-color: #ddd;
  border: none;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btnForm {
  padding: 18px 40px;
  font-size: 16px;
  color: #353535;
  background-color: #fe4918;
  border: none;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
  margin-left: 15px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.btnForm:hover {
  opacity: 0.8;
}

@media screen and (max-width: 960px) {
  .footerContainer {
    max-width: 650px;
  }

  .Footer2-Right {
    width: 100%;
    margin-bottom: 60px;
  }

  .Footer1-Left {
    width: 100%;
    text-align: center;
  }
  .btnForm {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .btnForm {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
